/* Main wrapper */

html {
    font-size:100.01%;
}

body {
    background: url('bg.png');
    font-size: 75%;
    font-family: Verdana, Arial, sans-serif;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.wrapper {
    width:1027px;
    margin:60px auto 0 auto;
}

.header {
    height:107px;
    width:1027px;
    background: url('header.png');
}

.logo {
    float:left;
    padding: 22px 0 0 46px;
}

.shuttleworth_logo {
    float:right;
    padding: 26px 51px 0 0;
}

img {
    border-style: none;
}

.orange {
    color:#f98e02;
}

.green {
    color: #55b61a;
}

.menubar {
    font-size: 1.2em;
    background: #3096d3;
    text-align:right;
    line-height: 25px;
    color:white;
    padding-right: 45px;
}

a {
    text-decoration: none;
}

.menubar a {
    color:white;
}

.banner {
    width: 1000px;
    position:relative;
}

.banner_text {
    position:absolute;
    right: 40px;
    top:0;
    color: #3096d3;
    background:#ffffff;
    width:350px;
    height:150px;
    padding: 0 10px 0 10px;
}

.banner_form {
    position:absolute;
    right: -43px;
    top: 180px;
    background: url('search_bar_home.png') no-repeat;
    width:562px;
    height:126px;
    padding: 0;
}

.banner_form_inside {
    padding: 29px 0 0 130px;
}

.banner_form_inside input {
    vertical-align: middle;
}

input#textbox {
    border: 0px;
    vertical-align: middle;
    margin-right: 40px;
    font-size: 150%;
    width:180px;
}

.defaultTextActive {
    color: #aaaaaa;
}

.section {
    width: 1066px;
    background: url('strip2.png') no-repeat;
    height:105px;
    margin-left: -24px;
    padding:0 0 0 40px;
}

.content {
    width: 966px;
    background: url('content_bg.png') repeat-y;
    margin-left:-6px;
    padding: 35px;
}

.footer {
    width: 1058px;
    background: url('footer.png') no-repeat;
    height: 239px;
    margin-left:-6px;
}

.footer_wrapper {
    height: 156px;
}

.footer_book {
    float: left;
    padding: 24px 0 0 32px;
}

.footer_blurb {
    float: right;
    padding: 26px 30px 0 0;
    width: 310px;
}

.colophon {
    padding: 18px 0 0 34px;
    vertical-align: middle;
    color:white;
    line-height: 2em;
}

.colophon img {
    vertical-align: middle;
}

.heading_button {
    float:left;
    padding: 18px 0 0 34px;
}

.tagline {
    float:left;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, Serif;
    padding: 36px 0 0 38px;
}

/* Post and book content styling */
.contentbox {
    border: 1px solid black;
    background: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 2em;
    padding: 0 2.5em 0 2em;
}

.contentbox h1 {
    font-weight:normal;
    font-size: 1.5em;
    color: #3096d3;
    padding-top: 0.5em;
}

.contentimage, .bookblock {
    float: left;
    margin: 2em 2em 1em 0;
}

.contentimage img {
    border: 1px solid black;
}

.clear {
    clear:both;
}

/* Split content page */

.content-left {
    float:left;
    width:280px;
    padding:0 26px 0 10px;
}

.content-right {
    float:left;
    width:650px;
}

/* Books listing page */

.book-1 {
    width: 300;
}

.book-2 {
    width: 200;
}

.book-3 {
    width: 200;
}

