*.pyc
.~lock.*
.installed.cfg
.mr.developer.cfg
PloneController.app
bin/
parts/
products/
var/
src/siyavula.app/Paste-1.7.5.1-py2.6.egg/
src/siyavula.app/PasteDeploy-1.3.4-py2.6.egg/
src/siyavula.app/PasteScript-1.7.3-py2.6.egg/
src/siyavula.app/siyavula.app.egg-info/
